.content-wrapper {
    display: flex;
    align-items: flex-start;
}

.text-section {
    flex: 1;
    margin-right: 20px;

}

.image-section {
    flex: 0 0 auto;
}

.achievement-img {
    max-width: 100%;
    height: auto;
}

.description {
    margin-bottom: 20px;
}

.table {
    width: 100%;
}

