.container-fluid {
    padding: 20px;
  }
  
  .aboutmiddle {
    text-align: center;
    margin-top: 20px;
  }
  
  .abouttext h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .abouttext p {
    font-size: 1.2em;
  }
  
  .goku_vegeta_box {
    position: relative;
    display: flex;
    justify-content: flex-end; /* Ensures the image is on the right */
  }
  
  .goku_vegeta_in {
    position: absolute;
    top: 10%;
    left: -100%; /* Initially position the text outside of the container */
    padding: 20px; /* Add padding for better readability */
    background-color: white; /* Add background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add shadow for better visibility */
    transition: transform 0.3s ease, left 0.3s ease; /* Adjust transition duration */
    transform: translateX(100%); /* Move the text outside of the container */
    width: 50%; /* Set the width to 50% of the container */
  }
  
  .goku_vegeta_box:hover .goku_vegeta_in, .goku_vegeta_in.show-text {
    left: 0; /* Move the text in when hovered */
    transform: translateX(0); /* Animate the text's entrance */
  }
  
  .rynbox_sm {
    max-width: 100%;
    height: auto;
  }
  
  .clerfix {
    clear: both;
  }
  


  .goku_vegeta_box1 {
    position: relative;
  }
  
  .goku_vegeta_in1 {
    position: absolute;
    top: 10%;
    right: -100%; /* Initially position the text outside of the container */
    padding: 20px; /* Add padding for better readability */
    background-color: white; /* Add background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add shadow for better visibility */
    transition: transform 0.3s ease, right 0.3s ease; /* Adjust transition duration */
    transform: translateX(100%); /* Move the text outside of the container */
    width: 50%; /* Set the width to 50% of the container */
  }
  
  .goku_vegeta_box1:hover .goku_vegeta_in1 {
    right: 0; /* Move the text in when hovered */
    transform: translateX(0); /* Animate the text's entrance */
  }
  
  